/******* GENERAL ******/
body {
  background-color: #b2b2cc;
  background-image: url(../images/trackBkg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#instructions {
  width: 800px;
  position: absolute;
  left: 10px;
  top: -10px;
}
#instructions p {
  margin: 0;
  padding-top: 3px;
}

.center {
  margin: 0 auto;
}

.abs {
  position: absolute;
}

/******* XMAS TREE ******/
#christmas-tree {
  margin: 20px auto;
  width: 70px;
  background: black;
  color: white;
  text-align: center;
  font-size: 0.9em;
  border: 3px solid #800000;
}

.lights {
  border-bottom: 1px solid #ccc;
}

.lights div {
  display: inline-block;
  background: white;
}

.lights:last-child {
  border-bottom: none;
}

#pre-stage div, #stage div {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.start div, .foul div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#pre-stage.on div, #stage.on div, #lights1.on div, #lights2.on div, #lights3.on div {
  background: yellow;
}

.lights4.on div {
  background: green;
}

.foul.on div {
  background: red;
}

/******* RACETRACK ******/
#racetrack {
  background: green;
  width: 90%;
  height: 150px;
  border: 2px solid black;
}

#strip {
  width: inherit;
  height: 150px;
}

.place {
  height: 150px;
  width: 20px;
  min-height: 150px;
  min-width: 20px;
}

#pre-staged {
  left: 60px;
  background: yellow;
}

#finish {
  right: 49px;
  background: white;
  background-image: url(../images/finishlinecheck.png);
  background-repeat: no-repeat;
}

#staged {
  left: 123px;
  background: yellow;
}

#dragster {
  background: url(../images/mario.png) no-repeat;
  background-size: 49px 54px;
  width: 49px;
  height: 54px;
  top: 50px;
  z-index: 100;
}
